---
publish: true
kind: article
created_at: 2012-02-22
tags: [photoshop]
excerpt: 'Инструмент New Layer Based Slice упрощает процесс нарезки объектов с тенями, свечением и контурами в Фотошопе.'
description: "Заметка об эффективной работе верстальщика в Photoshop."
title: "Нарезка в Photoshop — New Layer Based Slice"
disqusid: newlayerbasedslice
---

<p>Открыл для себя недавно полезную функцию в фотошопе — меню «Layer» &rarr; «New Layer Based Slice», — которая создаёт слайс по границам выделенного слоя. В случае выделения нескольких слоёв, создает слайс по границам каждого слоя.</p>
<figure>
    <img src="<%= item.identifier %>Photoshop-New-Layer-Based-Slice.png" width="875" height="735" alt="New Layer Based Slice"/>
    <figcaption>Layer &rarr; New Layer Based Slice (<kbd>Alt+L, +B</kbd>)</figcaption>
</figure>
<p>Раньше вырезать объекты с эффектами слоя, выступающими за его границы — тень (Drop Shadow), свечение (Outer Glow) или контур (Stroke), — было долго и неудобно. Инструмент Slice прилипает к границам самого слоя, а не к границам эффектов. Приходилось лезть в настройки эффекта и смотреть, на сколько пикселей распространяется свечение, или пипеткой искать место, где заканчивается тень. А потом устанавливать гайды, чтобы нарезать всё аккуратно. Жутко неудобно.</p>
<p>New Layer Based Slice захватывает и границы эффектов тоже. То, на что раньше требовалось до нескольких минут, можно сделать двумя нажатиями клавиш.</p>
<p>Для ускорения процесса нарезки на это действие можно повесить своё сочетание горячих клавиш, но лучше привыкнуть к двум стандартными сочетаниями: <kbd>Alt+L, +B</kbd> не отпуская Alt.</p>
<figure>
    <img src="<%= item.identifier %>Photoshop-Layer-with-Shadow.png" width="570" height="565" alt="Layer with Shadow"/>
	<figcaption>Слой со смещенной тенью шириной в 30px. Рамкой трансформации выделены границы самого слоя. Слайс создан по границам тени.</figcaption>
</figure>